# Generating XGBOOST Model...

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import xgboost as xgb

In [3]:
checkpoint5_traffic = pd.read_csv('C:/Users/Admin/Documents/GitHub/CZ4041-NYC-Taxi-Fare/checkpoint5_SGDR_traffic.csv')
checkpoint5_traffic

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist,0
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,0,0,1,0,1.030764,0.383009
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,0,0,1,0,8.450134,0.383009
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,0,0,0,1,1.389525,0.383063
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,1,0,0,1,2.799270,0.699533
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,0,0,1,0,1.999157,0.383009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,14.0,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,1,0,0,0,4.334397,0.399741
54125940,4.2,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,0,0,0,0,1.070590,0.083271
54125941,14.1,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,1,0,0,0,5.075548,0.399741
54125942,28.9,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,0,0,0,0,9.346157,0.083271
54125943,7.5,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,1,0,0,0,1.599203,0.399741

In [4]:
labels = checkpoint5_traffic[['fare_amount']]
labels

          fare_amount
0                 4.5
1                16.9
2                 5.7
3                 7.7
4                 5.3
...               ...
54125939         14.0
54125940          4.2
54125941         14.1
54125942         28.9
54125943          7.5

[54125944 rows x 1 columns]

In [5]:
del checkpoint5_traffic['fare_amount']
checkpoint5_traffic

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist,0
0,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,0,0,1,0,1.030764,0.383009
1,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,0,0,1,0,8.450134,0.383009
2,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,0,0,0,1,1.389525,0.383063
3,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,1,0,0,1,2.799270,0.699533
4,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,0,0,1,0,1.999157,0.383009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,1,0,0,0,4.334397,0.399741
54125940,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,0,0,0,0,1.070590,0.083271
54125941,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,1,0,0,0,5.075548,0.399741
54125942,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,0,0,0,0,9.346157,0.083271
54125943,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,1,0,0,0,1.599203,0.399741

In [6]:
del checkpoint5_traffic['time']
checkpoint5_traffic

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,day,weekend,holiday,peak_hour,hotspot,dist,0
0,-73.844311,40.721319,-73.841610,40.712278,1,0,0,0,1,0,1.030764,0.383009
1,-74.016048,40.711303,-73.979268,40.782004,1,1,0,0,1,0,8.450134,0.383009
2,-73.982738,40.761270,-73.991242,40.750562,2,3,0,0,0,1,1.389525,0.383063
3,-73.987130,40.733143,-73.991567,40.758092,1,5,1,0,0,1,2.799270,0.699533
4,-73.968095,40.768008,-73.956655,40.783762,1,1,0,0,1,0,1.999157,0.383009
...,...,...,...,...,...,...,...,...,...,...,...,...
54125939,-74.005272,40.740027,-73.963280,40.762555,1,5,1,0,0,0,4.334397,0.399741
54125940,-73.957784,40.765530,-73.951640,40.773959,1,1,0,0,0,0,1.070590,0.083271
54125941,-73.970505,40.752325,-73.960537,40.797342,1,5,1,0,0,0,5.075548,0.399741
54125942,-73.980901,40.764629,-73.870605,40.773963,1,2,0,0,0,0,9.346157,0.083271
54125943,-73.969722,40.797668,-73.970885,40.783313,1,4,1,0,0,0,1.599203,0.399741

In [7]:
params = {
    "max_depth": 7,
    "subsample": 0.9,
    "eta": 0.03,
    "colsample_bytree": 0.9,
    "random_state": 2666,
    "objective": "reg:linear",
    "eval_metric": "rmse",
    "silent": 1
}

In [8]:
print("splitting...")
#splitting data into train test 
x_train, x_test, y_train, y_test = train_test_split(checkpoint5_traffic, labels, test_size=0.2, random_state=42)

splitting...

In [9]:
def XGBmodel(x_train, x_test, y_train, y_test, params):
    matrix_train = xgb.DMatrix(x_train, label=y_train)
    matrix_test = xgb.DMatrix(x_test, label=y_test)
    
    model = xgb.train(params=params,
                      dtrain=matrix_train,num_boost_round=5000, 
                      early_stopping_rounds=10,evals=[(matrix_test,'test')])
    return model

#start_time = time.time()
model = XGBmodel(x_train, x_test, y_train, y_test, params)

model.save_model("xgboost_traffic_LR1.json")
model.save_model("xgboost_traffic_LR1.txt")

[02:29:57] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
[02:29:57] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	test-rmse:14.16854
[1]	test-rmse:13.78859
[2]	test-rmse:13.42138
[3]	test-rmse:13.06628
[4]	test-rmse:12.72300
[5]	test-rmse:12.39143
[6]	test-rmse:12.07148
[7]	test-rmse:11.76212
[8]	test-rmse:11.46536
[9]	test-rmse:11.17689
[10]	test-rmse:10.89834
[11]	test-rmse:10.62942
[12]	test-rmse:10.37041
[13]	test-rmse:10.12058
[14]	test-rmse:9.87943
[15]	test-rmse:9.64676
[16]	test-rmse:9.42267
[17]	test-rmse:9.21615
[18]	test-rmse:9.00779
[19]	test-rmse:8.80761
[20]	test-rmse:8.63877
[21]	test-rmse:8.45226
[22]	test-rmse:8.27301
[23]	test-rmse:8.10018
[24]	test-rmse:7.94155
[25]	test-rmse:7.78187
[26]	test-rmse:7.62829
[27]	test-rmse:7.48150
[28]	test-rmse:7.34626
[29]	test-rmse:7.22508
[30]	test-rmse:7.09293
[31]	test-rmse:6.97400
[32]	test-rmse:6.85237
[33]	test-rmse:6.75056
[34]	test-rmse:6.63837
[35]	test-rmse:6.53186
[36]	test-rmse:6.43005
[37]	test-rmse:6.33228
[38]	test-rmse:6.24998
[39]	test-rmse:6.16000
[40]	test-rmse:6.07431
[41]	test-rmse:5.99159
[42]	test-rmse:5.91353
[43]	test-rmse:5.84219
[44]	test-rmse:5.77122
[45]	test-rmse:5.70279
[46]	test-rmse:5.63757
[47]	test-rmse:5.57582
[48]	test-rmse:5.51665
[49]	test-rmse:5.46069
[50]	test-rmse:5.40738
[51]	test-rmse:5.35841
[52]	test-rmse:5.31657
[53]	test-rmse:5.27304
[54]	test-rmse:5.22898
[55]	test-rmse:5.18967
[56]	test-rmse:5.15496
[57]	test-rmse:5.11630
[58]	test-rmse:5.08152
[59]	test-rmse:5.04683
[60]	test-rmse:5.01365
[61]	test-rmse:4.98264
[62]	test-rmse:4.95352
[63]	test-rmse:4.92550
[64]	test-rmse:4.89889
[65]	test-rmse:4.87285
[66]	test-rmse:4.84951
[67]	test-rmse:4.82690
[68]	test-rmse:4.80475
[69]	test-rmse:4.78479
[70]	test-rmse:4.76573
[71]	test-rmse:4.74670
[72]	test-rmse:4.73010
[73]	test-rmse:4.71363
[74]	test-rmse:4.69877
[75]	test-rmse:4.68409
[76]	test-rmse:4.67130
[77]	test-rmse:4.65757
[78]	test-rmse:4.64498
[79]	test-rmse:4.63281
[80]	test-rmse:4.62108
[81]	test-rmse:4.60973
[82]	test-rmse:4.59926
[83]	test-rmse:4.58963
[84]	test-rmse:4.58013
[85]	test-rmse:4.57123
[86]	test-rmse:4.56314
[87]	test-rmse:4.55519
[88]	test-rmse:4.54787
[89]	test-rmse:4.54054
[90]	test-rmse:4.53365
[91]	test-rmse:4.52763
[92]	test-rmse:4.52161
[93]	test-rmse:4.51624
[94]	test-rmse:4.51070
[95]	test-rmse:4.50492
[96]	test-rmse:4.49984
[97]	test-rmse:4.49474
[98]	test-rmse:4.48971
[99]	test-rmse:4.48532
[100]	test-rmse:4.48117
[101]	test-rmse:4.47771
[102]	test-rmse:4.47343
[103]	test-rmse:4.46944
[104]	test-rmse:4.46585
[105]	test-rmse:4.46263
[106]	test-rmse:4.45931
[107]	test-rmse:4.45643
[108]	test-rmse:4.45331
[109]	test-rmse:4.45069
[110]	test-rmse:4.44842
[111]	test-rmse:4.44609
[112]	test-rmse:4.44900
[113]	test-rmse:4.44717
[114]	test-rmse:4.44470
[115]	test-rmse:4.46398
[116]	test-rmse:4.46173
[117]	test-rmse:4.45888
[118]	test-rmse:4.45680
[119]	test-rmse:4.45452
[120]	test-rmse:4.45287
[121]	test-rmse:4.45527
[122]	test-rmse:4.45323
[123]	test-rmse:4.45179

https://www.kaggle.com/code/marinovik/xgboost-new-york-taxi-fares-prediction/notebook