## Evaluation SVR on Validation set

### Prepare dataset for fitting in model

In [2]:
print("Reading Datafile...")
checkpoint5 = pd.read_csv('checkpoint-5.csv')
print("Success!")

Reading Datafile...
Success!

In [3]:
print("Reading index of train data...") 
with open("train_idx.txt") as file:
    train_idx_str = file.read()
    file.close()

train_idx = ast.literal_eval(train_idx_str)
print("Length of the train indexes is...", len(train_idx))
print(train_idx[0])

Reading index of train data...
Length of the train indexes is... 540000
17094116

In [4]:
print("Getting dataframe of train set...")
train_set = checkpoint5.loc[train_idx]
checkpoint5.drop(axis=0, index=train_idx,inplace=True)
print("Seperated dataframe for both train and test")

Getting dataframe of train set...
Seperated dataframe for both train and test

In [5]:
print("Obtaining labels for train set...")
cols = 'fare_amount'
y_train = train_set[[cols]]
print("Obtained labels!")
del train_set['time']
del train_set['fare_amount']
del train_set['pickup_longitude']
del train_set['pickup_latitude']
del train_set['dropoff_longitude']
del train_set['dropoff_latitude']
print("Train set is ready!")

Obtaining labels for train set...
Obtained labels!
Train set is ready!

In [6]:
X_train = train_set

In [7]:
X_train

,passenger_count,day,weekend,holiday,peak_hour,hotspot,dist
17094116,1,3,False,0,0,1,0.696993
53649197,1,5,True,0,0,0,1.594699
38088232,5,1,False,0,1,0,3.154141
29785639,1,2,False,0,0,0,2.620846
24305630,1,1,False,0,0,0,6.734819
...,...,...,...,...,...,...,...
12888383,1,6,True,0,0,1,4.731678
38936098,1,3,False,0,1,0,3.661563
189012,2,6,True,0,0,0,4.128879
37063756,5,3,False,0,1,0,18.904935
39903229,3,5,True,0,0,0,2.081787

In [8]:
y_train

          fare_amount
17094116         4.50
53649197         4.90
38088232        10.90
29785639         7.30
24305630        27.00
...               ...
12888383        14.50
38936098        11.70
189012           6.10
37063756        57.54
39903229         6.10

[540000 rows x 1 columns]

### Test set preparation 10825189 rows only

In [9]:
print("Obtaining samples from huge test set...")
test_set = checkpoint5.sample(n=10825189, replace=False)
print("Obtained test set!")

Obtaining samples from huge test set...
Obtained test set!

In [10]:
print("Obtaining labels for test set...")
cols = 'fare_amount'
y_test = test_set[[cols]]
print("Obtained labels!")
del test_set['time']
del test_set['fare_amount']
del test_set['pickup_longitude']
del test_set['pickup_latitude']
del test_set['dropoff_longitude']
del test_set['dropoff_latitude']
print("Test set is ready!")

Obtaining labels for test set...
Obtained labels!
Test set is ready!

In [11]:
X_test = test_set

In [12]:
X_test

          passenger_count  day  weekend  holiday  peak_hour  hotspot      dist
52885951                1    3    False        0          0        0  3.146507
17767819                1    3    False        0          1        0  2.636226
50859840                1    2    False        0          1        0  1.644529
32845263                1    5     True        0          0        0  2.500767
25760624                2    6     True        0          0        0  1.809844
...                   ...  ...      ...      ...        ...      ...       ...
23781631                1    1    False        0          0        1  4.811584
19377778                5    4     True        0          0        0  2.418924
36610696                1    5     True        0          0        0  2.330769
51331868                5    4     True        0          0        0  2.120057
29291221                1    3    False        0          0        1  3.309603

[10825189 rows x 7 columns]

In [13]:
y_test

          fare_amount
52885951          9.7
17767819          7.7
50859840          4.9
32845263          8.5
25760624          6.5
...               ...
23781631         14.5
19377778         12.1
36610696          6.9
51331868          7.3
29291221          9.0

[10825189 rows x 1 columns]

### Load Model

In [14]:
with open('WithDist_SVM/Dist_SVM_Experiment_540000_v2.pkl', 'rb') as f:

    regressor = pickle.load(f)

In [15]:
print("Fitting...")
X_sc = StandardScaler()
y_sc = StandardScaler()
X_train = X_sc.fit_transform(X_train)
y_train = y_sc.fit_transform(y_train)

print('Predicting...')
y_pred = regressor.predict(X_sc.transform(X_test))
t2 = time.time()
print("Inversely Transforming value data ")
y_pred = y_sc.inverse_transform(y_pred.reshape(-1, 1))
print('Predicted all!')
print(y_pred)

Fitting...
Predicting...
Inversely Transforming value data
Predicted all!
[[10.35504507]
 [ 9.5454811 ]
 [ 7.16231199]
 ...
 [ 8.33188855]
 [ 7.99253101]
 [10.98259544]]

In [17]:
y_test = y_test.to_numpy()

In [18]:
y_test = y_test.flatten()
y_pred = y_pred.flatten()
y_test_series = pd.Series(y_test)
y_pred_series = pd.Series(y_pred)
df = pd.DataFrame({'Predicted value': y_pred, 'Real Value': y_test})
df
df.to_csv('WithDist_SVM/Dist_predictions_SVR540000.csv',index=False )

In [21]:
#Get Report
print("Score for classifier:", r2_score(y_test,y_pred))
print("Mean square error is -> ",mean_squared_error(y_test, y_pred))
print("Root Mean square error is -> ",math.sqrt(mean_squared_error(y_test, y_pred)))
print("Mean absolute error is -> ",mean_absolute_error(y_test, y_pred))

# Save report 
report = { 
    'version': 'SVM with Dist',
    'number_rows': 540000,
    # 'train time':time_train,
    # 'predict time': time_predict,
    'r2_score': r2_score(y_test,y_pred),
    'MSE': mean_squared_error(y_test, y_pred),
    'RMSE': math.sqrt(mean_squared_error(y_test, y_pred)),
    'MAE': mean_absolute_error(y_test, y_pred)}

final_report = pd.DataFrame.from_dict(report.items())
final_report.to_csv('WithDist_SVM/report_SVR540000.csv',index=False )

Score for classifier: 0.13442665073084614
Mean square error is ->  390.77708059833355
Root Mean square error is ->  19.768082370284013
Mean absolute error is ->  2.401078771735941