## SVM Model

In [1]:
print("Importing Libraries...")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pickle
import time
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import math
from sklearn.metrics import r2_score
from sklearn.utils import shuffle
import ast
print("Successfully imported!")

Importing Libraries...
Successfully imported!

In [2]:
print("Reading Datafile...")
checkpoint5 = pd.read_csv('checkpoint-5.csv')
print("Success!")

Reading Datafile...
Success!

In [3]:
train_set = checkpoint5.sample(n=540000, replace=False)
train_idx = list(train_set.index)
checkpoint5.drop(axis=0, index=train_idx,inplace=True)
train_set

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
17094116,4.50,-74.000175,40.732832,-73.992613,40.735373,1,13:01:32,3,False,0,0,1,0.696993
53649197,4.90,-73.985406,40.766108,-73.994013,40.753334,1,08:47:20,5,True,0,0,0,1.594699
38088232,10.90,-73.984753,40.768630,-73.953815,40.784622,5,18:37:00,1,False,0,1,0,3.154141
29785639,7.30,-73.970085,40.759777,-73.947626,40.776093,1,20:02:40,2,False,0,0,0,2.620846
24305630,27.00,-73.962358,40.763402,-74.005250,40.712292,1,11:38:00,1,False,0,0,0,6.734819
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12888383,14.50,-73.967651,40.787804,-73.979362,40.746185,1,10:25:42,6,True,0,0,1,4.731678
38936098,11.70,-73.990270,40.740650,-73.962802,40.766172,1,15:02:00,3,False,0,1,0,3.661563
189012,6.10,-73.999378,40.733747,-73.969577,40.763227,2,22:01:49,6,True,0,0,0,4.128879
37063756,57.54,-73.807251,40.654366,-73.978485,40.764172,5,16:52:57,3,False,0,1,0,18.904935
39903229,6.10,-73.962683,40.759061,-73.946338,40.773106,3,21:39:29,5,True,0,0,0,2.081787

In [4]:
print("Saving Index...")
with open("train_idx.txt", "w") as output:
    output.write(str(train_idx))
    output.close()

Saving Index...

In [5]:
train_set = shuffle(train_set)
train_set = train_set.reset_index(drop=True)
train_set

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
0,5.7,-73.949945,40.776047,-73.954002,40.787543,1,18:17:00,3,False,0,1,0,1.323150
1,8.0,-73.980453,40.742779,-73.989082,40.744480,1,10:01:53,2,False,0,0,0,0.751154
2,9.0,-74.005531,40.751274,-73.994123,40.744440,1,09:43:32,1,False,0,0,0,1.225153
3,4.0,-73.960193,40.761955,-73.954252,40.763945,5,10:36:00,5,True,0,0,0,0.547102
4,7.3,-73.966307,40.762254,-73.978448,40.756973,1,14:00:52,3,False,0,0,0,1.179192
...,...,...,...,...,...,...,...,...,...,...,...,...,...
539995,5.7,-73.958447,40.784298,-73.965348,40.790753,5,13:25:00,5,True,0,0,1,0.923438
539996,6.5,-73.984360,40.755110,-73.975160,40.746010,1,02:50:00,4,True,0,0,1,1.274550
539997,10.9,-73.994666,40.750591,-73.953654,40.770818,1,12:59:25,5,True,0,0,0,4.121898
539998,4.9,-73.959765,40.771215,-73.970373,40.763118,2,20:13:00,0,False,0,0,0,1.268350
539999,8.9,-73.973700,40.752200,-73.949100,40.785100,1,18:39:31,0,False,0,1,0,4.204167

In [6]:
checkpoint5 = checkpoint5.reset_index(drop=True)
checkpoint5

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,time,day,weekend,holiday,peak_hour,hotspot,dist
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1,17:26:21,0,False,0,1,0,1.030764
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1,16:52:16,1,False,0,1,0,8.450134
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2,00:35:00,3,False,0,0,1,1.389525
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1,04:30:42,5,True,0,0,1,2.799270
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1,07:51:00,1,False,0,1,0,1.999157
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53585939,14.0,-74.005272,40.740027,-73.963280,40.762555,1,03:28:00,5,True,0,0,0,4.334397
53585940,4.2,-73.957784,40.765530,-73.951640,40.773959,1,20:46:20,1,False,0,0,0,1.070590
53585941,14.1,-73.970505,40.752325,-73.960537,40.797342,1,22:04:24,5,True,0,0,0,5.075548
53585942,28.9,-73.980901,40.764629,-73.870605,40.773963,1,05:57:51,2,False,0,0,0,9.346157
53585943,7.5,-73.969722,40.797668,-73.970885,40.783313,1,11:33:00,4,True,0,0,0,1.599203

In [7]:
print("Obtaining label...")
cols = 'fare_amount'
label = train_set[[cols]]
label
print("Obtained labels!")

Obtaining label...
Obtained labels!

In [ ]:
# del checkpoint5['dist']
del train_set['time']
del train_set['fare_amount']
del train_set['pickup_longitude']
del train_set['pickup_latitude']
del train_set['dropoff_longitude']
del train_set['dropoff_latitude']

In [9]:
train_set.head(20)

    passenger_count  day  weekend  holiday  peak_hour  hotspot      dist
0                 1    3    False        0          1        0  1.323150
1                 1    2    False        0          0        0  0.751154
2                 1    1    False        0          0        0  1.225153
3                 5    5     True        0          0        0  0.547102
4                 1    3    False        0          0        0  1.179192
5                 1    1    False        0          1        0  1.090590
6                 1    1    False        0          0        0  2.374737
7                 1    4     True        0          1        0  1.840962
8                 2    6     True        0          0        0  2.039580
9                 4    1    False        0          1        0  1.727977
10                2    3    False        0          0        1  3.780612
11                1    4     True        0          0        0  1.467295
12                5    6     True        0          0        0  0.750714
13                1    5     True        0          0        0  0.787724
14                1    3    False        0          0        1  1.211163
15                1    1    False        0          0        0  6.804764
16                1    5     True        0          0        0  1.148062
17                1    2    False        0          0        0  1.331712
18                5    2    False        0          1        0  1.266501
19                1    3    False        0          1        0  1.510211

In [10]:
print("Dropped columns!")

Dropped columns!

In [11]:
# Splitting Dataset into train and test (20% TEST, 80% TRAIN) 
print('Splitting Dataset...')
X_train = train_set
y_train = label
print("Dataset splitted!")

Splitting Dataset...
Dataset splitted!

### Preparing Test set

In [ ]:
print("Obtaining label...")
cols = 'fare_amount'
y_test = checkpoint5[[cols]]
y_test
print("Obtained labels!")

In [13]:
del checkpoint5['time']
del checkpoint5['fare_amount']
del checkpoint5['pickup_longitude']
del checkpoint5['pickup_latitude']
del checkpoint5['dropoff_longitude']
del checkpoint5['dropoff_latitude']

In [14]:
X_test = checkpoint5

### Normalising the values

In [15]:
X_sc = StandardScaler()
y_sc = StandardScaler()

In [16]:
X_train = X_sc.fit_transform(X_train)
y_train = y_sc.fit_transform(y_train)

In [17]:
print('Fitting the model...')
regressor = SVR(kernel = 'rbf')
t0 = time.time()
regressor.fit(X_train, y_train.ravel())
t1 = time.time()
print('Succeeded in fitting model!')

Fitting the model...
Succeeded in fitting model!

In [18]:
print("Saving model...")

with open('WithDist_SVM/Dist_SVM_Experiment_540000_v2.pkl', 'wb') as f:

   pickle.dump(regressor, f)

print("Saved model!")

Saving model...
Saved model!